{% include header.html %}

{% for post in list %}
<article class="article">
	<h2 class="article-title">
		<a href="{{ post.url }}">{{ post.title }}</a>
	</h2>
	{% include meta.html %}
	{% if forloop.index == 1 and preview and post.layout == 'post' %}
		<div class="article-content markdown">
			{{ post.content }}
		</div>
	{% endif %}
</article>
{% if forloop.index == 1 and preview and post.layout == 'post' %}
	<h2>Posts Archive</h2>
{% endif %}
{% endfor %}

{% if list == null %}
<article class="article article-empty">
	<p>No article in this moment.</p>
</article>
{% endif %}