<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="author" content="{{ site.meta.author.name }}" />
    <meta name="keywords" content="{{ page.tags | join: ',' }}" />
    
    <title>{{ site.name }}{% if page.title %} / {{ page.title }}{% endif %}</title>

    <link href="https://{{ site.host }}/feed.xml" rel="alternate" title="{{ site.name }}" type="application/atom+xml" />
    <link rel="shortcut icon" href="{{ '/assets/img/favicon.ico' | prepend: site.baseurl }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    
    <link rel="stylesheet" href="{{ '/assets/css/screen.css' | prepend: site.baseurl }}" />
    {% for style in page.styles %}<link rel="stylesheet" href="{{ style }}" />
    {% endfor %}
</head>

<body class="{{ layout.class }}">
    <div id="root">
        <div id="app">
            <div id="main">
                {{ content }}
        
                <footer>
                    <p>&copy; Since 2021</p>
                </footer>
            </div>
        
            <aside id="aside">
                <h2><a href="/">{{ site.name }}</a><a href="/feed.xml" class="feed-link" title="Subscribe"><i class="fa fa-rss-square"></i></a></h2>
                
                <nav class="block">
                    <ul>
                    {% for category in site.custom.categories %}<li class="{{ category.name }}"><a href="/category/{{ category.name }}/">{{ category.title }}</a></li>
                    {% endfor %}
                    </ul>
                </nav>
                
                <form action="/search/" class="block block-search">
                    <h3>Search</h3>
                    <p><input type="search" name="q" placeholder="Search" /></p>
                </form>
                
                <div class="block block-about">
                    <h3>About</h3>
                    <figure>
                        {% if site.meta.author.gravatar %}<img src="{{ site.meta.gravatar}}{{ site.meta.author.gravatar }}?s=48" />{% endif %}
                        <figcaption><strong>{{ site.meta.author.name }}</strong></figcaption>
                    </figure>
                    <p>{{ site.meta.author.about }}</p>
                </div>
                
                <div class="block block-license">
                    <h3>Copyright</h3>
                    <p><a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/2.5/cn/" target="_blank" class="hide-target-icon" title="Copyright declaration of site content"><img alt="知识共享许可协议" src="http://i.creativecommons.org/l/by-nc-nd/2.5/cn/88x31.png" /></a></p>
                </div>
                
                {% if site.meta.author.github %}
                <div class="block block-fork">
                    <a href="https://github.com/{{ site.meta.author.github }}"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_orange_ff7600.png" alt="Fork me on GitHub"></a>
                </div>
                {% endif %}
                
                <div class="block block-thank">
                    <h3>Powered by</h3>
                    <p>
                        <a href="http://disqus.com/" target="_blank">Disqus</a>,
                        <a href="https://github.com/" target="_blank">GitHub</a>
                    </p>
                </div>
            </aside>
        </div>
    </div>
    
    <script type="text/javascript" id="js-conf">
        window.analytics = '{{ site.meta.google.analytics }}'
        window.analyticsJs = '{{ site.meta.google.analyticsjs }}'
        window.shortname = '{{ site.meta.disqus.shortname }}'
        window.embedjs = '{{ site.meta.disqus.embedjs }}'
    </script>
    <script src="{{ '/assets/js/main.js' | prepend: site.baseurl }}" id="js-main"></script>
    {% for script in page.scripts %}<script src="{{ script }}"></script>
    {% endfor %}

</body>
</html>