---
layout: default

class: page-type-post

---

<div class="breadcrumbs">/ <a href="/">{{ site.name }}</a> / {{ page.title }}</div>

<article class="article">
	<h1 class="article-title">
		<a href="{{ page.url | prepend: site.baseurl | prepend: site.url }}">{{ page.title }}</a>
	</h1>
	{% assign post = page %}
	{% include meta.html %}
	<div class="article-content markdown">
		{{ content }}
	</div>
	{% capture permaurl %}{{ page.url | prepend: site.baseurl | prepend: site.url }}{% endcapture %}
	<p class="article-permalink">
		<span title="permanent link for {{ page.title }}">Permanent Link: <a href="{{ permaurl }}">{{ permaurl }}</a></span>
	</p>
</article>
<div id="disqus_thread" class="comments"></div>
